@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply scroll-smooth
}

body{
  overflow-x: hidden;
}

.scroll-text {
  animation: scrollText 27s linear infinite;
  animation-delay: 1000ms;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-68%);
  }
  100% {
    transform: translateX(0);
  }
}

@media ( min-width: 768px) {
  .hidden-parent {
    visibility: hidden;
  }

}

.visible-child {
  visibility: visible !important;
}

.element:hover + .text-animation {
  animation: slideIn 0.5s forwards;
}

.flare {
  position: fixed;
  border: 2px solid #7506fd2b;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(1px);
  background-color: #4500f45e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    opacity: 0; /* Make the flare invisible */
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}